@font-face {
	font-family: 'icons';
	font-display: swap;
	src:  url('../fonts/icons.woff') format('woff'), url('../fonts/icons.woff2#icons') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"],
[class*=" _icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}


._icon-arrow-down::before {
	content: "\e912";
}
._icon-arrow::before {
	content: "\e900";
}
._icon-calendar::before {
content: "\e901";
}
._icon-email::before {
content: "\e902";
}
._icon-facebook::before {
content: "\e903";
}
._icon-globe::before {
content: "\e904";
}
._icon-human::before {
content: "\e905";
}
._icon-instagram::before {
content: "\e906";
}
._icon-location::before {
content: "\e907";
}
._icon-mobile::before {
content: "\e908";
}
._icon-Phone-Icon::before {
content: "\e909";
}
._icon-plane::before {
content: "\e90a";
}
._icon-search::before {
content: "\e90b";
}
._icon-vk::before {
content: "\e90c";
}
._icon-www::before {
content: "\e90d";
}
._icon-starBorder::before {
	content: "\e90e";
}
._icon-starFull::before {
	content: "\e90f";
}
._icon-bus::before {
	content: "\e910";
	font-weight: bold;
}
._icon-train::before {
	content: "\e911";
	font-weight: bold;
}