@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "icons";
//</Иконочные шрифты>==========================================================================================
@import "../../node_modules/swiper/swiper-bundle";
//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Ubuntu";
$fontSize: rem(16);
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320;
$maxWidth: 1440;
$containerWidth: 1345;
$containerPadding: 30;
$maxWidthContainer: $containerWidth + $containerPadding;
$pc: em($maxWidthContainer);
$tablet: em(991.98);
$mobile: em(767.98);
$mobileSmall: em(479.98);

$mainColor: #35424B;
$blueColor: #22C3CA;
$whiteColor: rgba(255, 255, 255, 1);

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: $mainColor;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	/* &._loaded {
	} */
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: rem($maxWidthContainer);
	margin: 0 auto;
	padding: 0 rem(15);
	@media(max-width : $mobile){
		padding: 0 rem(8);
	}
}

@media(max-width: 319px) {
	body {
		display: none;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "popup";
@import "header";
@import "footer";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
	min-width: 0;
	/* &__main{
	} */
	/* &__sale {
	} */
	/* &__distribute {
	} */
	/* &__suggestions {
	} */
	/* &__report {
	} */
}
//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================



.main-page {
	position: relative;
	margin-bottom: rem(75);
	&__wrapper {
		padding: rem(190) rem(24) 0px rem(24);
		position: relative;
		z-index: 2;
		@media(max-width : $mobile){
			padding-top: rem(128);
		}
	}

	&__container {
		max-width: rem(1088);
		margin: 0 auto;
		padding-bottom: rem(95);
	}

	&__body {
	}

	&__title {
		font-size: rem(32);
		line-height: math.div(48, 32) * 100%;
		font-weight: bold;
		color: #fff;
		margin-bottom: rem(3);
	}

	&__text {
		font-size: rem(16);
		line-height: math.div(24, 16) * 100%;
		font-weight: 500;
		margin-bottom: math.div(26, 16) * 1em;
		color: #fff;
	}

	&__form {
		margin-bottom: rem(16);
		position: relative;
	}

	&__input {
		display: flex;
		align-items: center;
		&_small {
			flex: 0 0 prc(304, 1080);
		}
	}

	&__submit {
		margin: 0 rem(16);
		position: relative;
		height: rem(32);
		width: rem(32);
		&_button {
			height: rem(32);
			width: rem(32);
			background: transparent;
			position: relative;
			z-index: 3;
			cursor: pointer;
		} 
		@media(max-width : $mobile){
			margin-right: rem(8);
			height: rem(24);
			width: rem(24);
		}
	}

	&__icon {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		font-size: rem(32);
		color: $blueColor;
		&::before {
			display: inline-block;
		}
		@media(max-width : $mobile){
			font-size: rem(24);
		}
	}

	&__field {
		opacity: 1;
		visibility: visible;
		&._hold {
			opacity: 0;
			visibility: hidden;
		}
	}

	&__option {
		position: absolute;
		top: calc(100% - rem(8));
		left: 0;
		width: 100%;
	}

	&__actions {
		text-align: center;
	}

	&__action {
		display: none;
		font-size: rem(16);
		line-height: math.div(24, 16) * 100%;
		font-weight: 500;
		color: #fff;
		border-bottom: 1px dashed #fff;
		margin-bottom: math.div(35, 16) * 1em;
		cursor: pointer;
		&._active {
			display: inline-block;
		}
	}

	&__button {
		margin-bottom: rem(125);
		@media(max-width : $mobile){
			margin-bottom: 0;
		}
	}

	&__phone {
		position: absolute;
		bottom: 0;
		right: 0;
		height: rem(80);
		width: rem(80);
		border-radius: 50%;
		background-color: $blueColor;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		font-size: rem(37);
		transform: translate(0, 50%);
		@media(max-width : $mobile){
			height: rem(48);
			width: rem(48);
			font-size: rem(22);
		}
		@media(max-width : $pc){
			right: rem(24);
		}
	}

	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	&__description {
		display: flex;
		align-items: center;
		height: 0;
		overflow: hidden;
		transition: all 0.3s ease 0s;
		&._active {
			overflow: visible;
			margin: rem(40) 0 rem(32) 0;
		}
		@media(max-width : em(1000)){
			display: block;
		}
		@media(min-width : em(1000)){
			gap: prc(32, 1080);
		}
	}

	&__range {
	}
}



.addition-data {
	display: flex;
	align-items: center;
	position: relative;
	&__body {
		flex: 1 1 auto;
		display: flex;
		align-items: center;
		&._active .addition-data__arrow {
			display: block;
		}
	}

	&__logo {
		font-size: rem(24);
		color: $blueColor;
		margin: 0 rem(16);
	}

	&__field {
		color: #9B9B9B;
		font-size: rem(16);
		font-weight: 500;
		line-height: math.div(24, 16) * 1em;
		transition: all 0.3s ease 0s;
		&._hide {
			opacity: 0;
		}
	}

	&__arrow {
		display: none;
		font-size: rem(18);
		color: $blueColor;
		margin-right: rem(15);
		transition: all 0.3s ease 0s;
		cursor: pointer;
		&._active {
			transform: rotate(-180deg);
		}
	}

	&__sublist {
	}
}


.sublist-addition {
	position: absolute;
	width: 100%;
	top: rem(65);
	left: 0;
	background-color: #fff;
	border-radius: 0px 0px rem(8) rem(8);
	overflow: hidden;
	padding: 0 rem(16) rem(30) rem(16);
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s;
	@media(max-width : $mobile){
		top: rem(49);
	}
	&._active {
		opacity: 1;
		visibility: visible;
	}
	&__row {
		display: flex;
		align-items: center;
		column-gap: rem(8);
		&:not(:last-child) {
			margin-bottom: rem(16);
		}
	}

	&__age {
		flex: 1 1 auto;
		font-size: rem(16);
		line-height: math.div(24, 16) * 100%;
		font-weight: 500;
	}

	&__field {
		width: rem(55);
		height: rem(32);
		text-align: center;
		border: 1px solid #F6F6F6;
		border-radius: rem(8);
		font-size: rem(16);
		line-height: math.div(24, 16) * 100%;
		font-weight: 500;
	}

	&__actions {
		display: flex;
		align-items: center;
		column-gap: rem(8);
	}

	&__action {
		width: rem(32);
		height: rem(32);
		border-radius: 50%;
		background-color: transparent;
		border: 2px solid $blueColor;
		position: relative;
		transition: all 0.3s ease 0s;
		cursor: pointer;
		&::before {
			content:'';
			position: absolute;
			top: 50%;
			left: 50%;
			height: rem(2);
			width: rem(16);
			background-color: $blueColor;
			border-radius: rem(100);
			transform: translate(-50%, -50%);
		}

		&_plus {
			&::after {
				content:'';
				position: absolute;
				top: 50%;
				left: 50%;
				height: rem(2);
				width: rem(16);
				background-color: $blueColor;
				border-radius: rem(100);
				transform: translate(-50%, -50%) rotate(90deg);
			}
		}
		&:active {
			background-color: $blueColor;
			&::before,
			&::after {
				background-color: #fff;
			}
		}
	}
}




.range-slider {
	flex: 1 1 auto;
	&__duration {
		font-size: rem(16);
		line-height: math.div(24, 16) * 100%;
		font-weight: 500;
		color: #fff;
		margin-bottom: math.div(22, 16) * 1em;
	}

	&__body {
		position: relative;
		height: rem(8);
		margin: 0 rem(16) rem(20) rem(16);
	}

	&__input {
		position: absolute;
		left: 0;
		width: 100%;
		height: rem(8);
		pointer-events: none;
		z-index: 4;
		opacity: 0;
		cursor: pointer;
		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			height: rem(32);
			width: rem(32);
			background-color: #000;
			border-radius: 50%;
			pointer-events: all;
		}
		&_left {
			&::-webkit-slider-thumb {
				transform: translate(-50%, 0);
			}
		}

		&_right {
			&::-webkit-slider-thumb {
				transform: translate(50%, 0);
			}
		}
	}

	&__main {
	}

	&__track {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
		border-radius: rem(8);
	}

	&__range {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 100%;
		background-color: $blueColor;
		border-radius: rem(8);
		z-index: 2;
	}

	&__thumb {
		position: absolute;
		top: 0;
		z-index: 3;
		height: rem(32);
		width: rem(32);
		border-radius: 50%;
		border: 8px solid #fff;
		background-color: $blueColor;
		cursor: pointer;
		&_left {
			left: 0;
			transform: translate(-50%, -12px);
		}

		&_right {
			right: 0;
			transform: translate(50%, -12px);
		}
	}

	&__between {
		display: flex;
		justify-content: space-between;
	}

	&__days {
		font-size: rem(12);
		line-height: math.div(24, 12) * 100%;
		color: #fff;
		&_from {
		}

		&_to {
		}
	}
}








.sale-page {
	margin-bottom: rem(80);
	@media(max-width : $tablet){
		margin-bottom: rem(24);
	}
	&__container {
		@media(max-width : $mobile){
			padding-right: 0;
		}
	}

	&__wrapper {
		padding: 0 rem(16);
	}

	&__title {
		margin-bottom: math.div(24, 32) * 1em;
		@media(max-width : $mobile){
			padding-right: rem(8);
		}
	}

	&__overflow {
		display: flex;
		overflow: auto;
		margin-bottom: rem(22);
		@media(max-width : $tablet){
			margin-bottom: rem(14);
		}
		@media(max-width : $mobile){
			margin-right: rem(-16);
		}
		&::-webkit-scrollbar {
			width: 0;
		}
	}

	&__places {
		display: flex;
		column-gap: rem(16);
		padding-bottom: rem(10);
	}

	&__place {
		height: rem(32);
		border: 2px solid $blueColor;
		border-radius: 100px;
		background-color: transparent;
		transition: all 0.3s ease 0s;
		padding: 0 rem(5);
		font-size: rem(12);
		line-height: math.div(16, 12) * 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $blueColor;
		min-width: rem(100);
		white-space: nowrap;
		cursor: pointer;
		&._active {
			background-color: $blueColor;
			color: #fff;
		}
	}

	/* &__cards {
	} */

	&__btn {
		@media(max-width : $mobile){
			padding-right: rem(8);
		}
	}

	&__pagination {
		@media(max-width : $mobile){
			text-align: center;
			font-weight: 500;
			color: $blueColor;
			font-size: rem(16);
			line-height: 1em;
			margin-bottom: rem(32);
			padding-right: rem(8);
		}
	}
}

.cards {
	margin-bottom: rem(64);
	@media(max-width : $mobile){
		margin-right: rem(-16);
		margin-bottom: rem(32);
	}
	&__body {
		@media(min-width : $mobile){
			display: flex;
			flex-wrap: wrap;
			gap: prc(32, 1312);
			row-gap: rem(32);
			@media(max-width : $pc){
				justify-content: center;
			}
		}
	}

	&__item {
		border-radius: rem(8);
		border: 1px solid #F6F6F6;
		display: flex;
		flex-direction: column;
		transition: box-shadow 0.3s ease 0s;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		cursor: pointer;
		display: none;
		@media(min-width : $mobile){
			width: rem(304);
		}
		&._choosed {
			display: flex;
			@media(any-hover : hover){
				&:hover {
					box-shadow: 0px 8px 24px rgba(34, 195, 202, 0.24);
				}
			}
		}
	}

	&__image {
		padding-bottom: prc(176, 304);
		margin-bottom: rem(16);
		@media(max-width : $tablet){
			padding-bottom: prc(160, 272);
			margin-bottom: rem(8);
		}
	}

	&__labels {
		position: absolute;
		top: rem(16);
		right: rem(16);
	}

	&__label {
		border-radius: rem(4);
		padding: 0 rem(10);
		height: rem(24);
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		font-size: rem(10);
		line-height: math.div(11, 10) * 100%;
		margin-bottom: rem(5);
		&_sale {
			background-color: $blueColor;
		}
		&_new {
			background-color: rgb(225, 56, 56);
		}
	}

	&__main {
		flex: 1 1 auto;
		padding: 0 rem(16);
	}

	&__id {
		font-size: rem(10);
		line-height: math.div(16, 10) * 100%;
		color: #9B9B9B;
	}

	&__title {
		font-size: rem(16);
		line-height: math.div(24, 16) * 100%;
		font-weight: 500;
	}

	&__country {
		font-size: rem(14);
		line-height: math.div(24, 14) * 100%;
		margin-bottom: math.div(16, 14) * 1em;
		@media(max-width : $tablet){
			font-size: rem(12);
			margin-bottom: math.div(13, 12) * 1em;
		}
	}

	&__dates {
		display: flex;
		column-gap: rem(8);
		font-size: rem(16);
		margin-bottom: math.div(13, 16) * 1em;
	}

	&__about {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: rem(16) rem(20);
		margin-bottom: rem(16);
		@media(max-width : $mobile){
			gap: rem(8) rem(4);
		}
	}

	&__service {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		column-gap: rem(8);
		font-size: rem(12);
		line-height: math.div(16, 12) * 100%;
		@media(max-width : $mobile){
			column-gap: rem(2);
		}
		p {
			display: inline-block;
			flex: 1 1 100%;
			font-size: rem(10);
		}
	}

	&__additionally {
		font-size: rem(12);
		line-height: math.div(24, 12) * 100%;
	}

	&__stars {
		display: flex;
		align-items: center;
		column-gap: rem(4);
	}

	&__star {
		font-size: rem(20);
		color: $blueColor;
		@media(max-width : $mobile){
			font-size: rem(16);
		}
	}

	&__price {
	}

	&__rubs {
		font-size: 14px;
		line-height: math.div(14, 14) * 100%;
		margin-bottom: rem(8);
		span {
			font-weight: 500;
			font-size: 24px;
			line-height: math.div(24, 24) * 100%;
			margin-right: rem(10);
		}
	}

	&__euro {
		color: #9B9B9B;
		font-weight: 500;
		font-size: rem(16);
		line-height: math.div(16, 16) * 100%;
		margin-bottom: 1em;
	}

	&__checkbox {
		display: inline-flex;
		align-items: center;
		column-gap: rem(8);
		margin-bottom: rem(24);
		@media(max-width : $tablet){
			margin-bottom: rem(16);
		}
		&._active input[type="radio"]{
			background-color: $blueColor;
		}
		input[type="radio"] {
			height: rem(16);
			width: rem(16);
			border-radius: 50%;
			border: 1px solid $blueColor;
			cursor: pointer;
		}
	}

	&__compare {
		font-size: rem(12);
		line-height: math.div(16, 12) * 100%;
		color: $blueColor;
		border-bottom: 2px dotted $blueColor;
	}

	&__nothing {
		text-align: center;
		color: $mainColor;
		font-size: rem(30);
		line-height: 150%;
		font-weight: bold;
		display: none;
		@media(max-width : $mobile){
			padding-right: rem(8);
			margin-right: rem(16);
			font-size: rem(24);
		}
		&._active {
			display: block;
		}
	}
}



.distribute-page {
	background-color: $blueColor;
	margin-bottom: rem(80);
	@media(max-width : $mobile){
		margin-bottom: rem(60);
	}
	/* &__container {
	} */

	&__wrapper {
		padding: rem(40) rem(16);
	}

	&__title {
		font-weight: bold;
		font-size: rem(32);
		line-height: math.div(48, 32) * 100%;
		color: #fff;
		margin-bottom: 1em;
		@media(max-width : $mobile){
			font-size: rem(24);
			line-height: math.div(32, 24) * 100%;
		}
	}

	&__body {
		margin-bottom: rem(16);
		position: relative;
		@media(min-width : $tablet){
			display: flex;
			flex-wrap: wrap;
			column-gap: prc(140, 1343);
		}
	}

	&__item {
		@media(min-width : $tablet){
			flex: 1 1 auto;
		}
		&_sms {
			@media(min-width : $tablet){
				flex: 0 0 prc(416, 1343);
			}
			.distribute-page__input {
				@media(max-width : $tablet){
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
				}
			}
		}
	}

	&__type {
		font-weight: 500;
		font-size: rem(24);
		line-height: math.div(32, 24) * 100%;
		color: #fff;
		margin-bottom: rem(16);
		&_hidden {
			@media(max-width : $tablet){
				display: none;
			}
		}
		&_always {
			@media(max-width : $tablet){
				font-size: rem(20);
				display: flex;
				justify-content: space-between;
				p {
					display: inline-block;
					border-bottom: 1px dashed #fff;
					&._active {
						border-bottom: 0;
					}
				}
				.distribute-page__enable {
					margin: 0 auto;
				}
			}
		}
	}

	&__enable {
		@media(min-width : $tablet){
			display: none;
		}
	}

	&__input {
		display: flex;
		align-items: center;
		column-gap: rem(10);
		@media(max-width : $tablet){
			opacity: 0;
			&._active {
				opacity: 1;
			}
		}
	}

	&__icon {
		font-size: rem(24);
		margin-left: rem(24);
	}

	&__field {
		flex: 1 1 auto;
		&::placeholder {
			color: $mainColor;
			font-weight: 500;
			font-size: rem(16);
			line-height: math.div(24, 16) * 100%;
		}
	}

	&__subscribe {
		font-size: rem(12);
		line-height: math.div(16, 12) * 100%;
		font-weight: 500;
		letter-spacing: rem(0.8);
		color: $blueColor;
		text-transform: uppercase;
		margin-right: rem(32);
		transition: hover 0.3s ease 0s;
		@media(any-hover : hover){
			&:hover {
				text-decoration: underline;
			}
		}
		@media(max-width : $tablet){
			display: none;
		}
	}

	&__addition {
		font-size: rem(14);
		line-height: math.div(24, 14) * 100%;
		color: #fff;
		@media(max-width : $tablet){
			margin-bottom: rem(20);
		}
	}

	&__btn {
		@media(min-width : $tablet){
			display: none;
		}
	}
}


.suggestions-page {
	margin-bottom: rem(80);
	@media(min-width : em(1170)){
		margin-bottom: rem(70);
	}
	@media(max-width : $mobile){
		margin-bottom: rem(60);
	}
	&__container {
		@media(max-width : em(1170)){
			padding-right: 0;
		}
	}

	&__wrapper {
		padding: 0 0 0 rem(16);
		@media(min-width : em(1170)){
			padding: 0 rem(16);
		}
	}

	&__title {
		margin-bottom: rem(40);
		@media(max-width : em(1170)){
			padding-right: rem(24);
		}
	}

	&__body {
	}

	&__items {
		@media(min-width : em(1170)){
			display: flex;
			flex-wrap: wrap;
			column-gap: prc(32, 1328);
		}
		@media(max-width : em(1170)){
			margin-right: rem(-16);
		}
	}

	&__item {
		position: relative;
		@media(min-width : em(1170)){
			flex: 0 0 prc(640, 1344);
			margin-bottom: rem(10);
		}
	}

	&__image {
		border-radius: rem(8);
		overflow: hidden;
		@media(min-width : $mobile){
			padding-bottom: prc(640, 1344);
		}
		@media(max-width : $mobile){
			height: rem(272);
		}
	}

	&__content {
		position: absolute;
		left: rem(32);
		bottom: rem(32);
		max-width: rem(290);
	}

	&__name {
		font-size: rem(24);
		font-weight: 500;
		line-height: math.div(32, 24) * 100%;
		color: #fff;
		margin-bottom: math.div(9, 24) * 1em;
		@media(max-width : $mobileSmall){
			font-size: rem(20);
			line-height: math.div(32, 20) * 100%;
		}
	}

	&__description {
		font-size: rem(14);
		line-height: math.div(24, 14) * 100%;
		margin-bottom: math.div(15, 14) * 1em;
		color: #fff;
		@media(max-width : $mobileSmall){
			font-size: rem(12);
			line-height: math.div(20, 12) * 100%;
		}
	}

	&__more {
		font-size: rem(12);
		line-height: math.div(16, 12) * 100%;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: rem(0.8);
		color: $blueColor;
		transition: all 0.3s ease 0s;
		@media(any-hover : hover){
			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__pagination {
		display: flex;
		padding-right: rem(24);
		justify-content: center;
		margin-top: rem(25);
		span {
			height: rem(8);
			width: rem(8);
		}
		.swiper-pagination-bullet {
			border: 1px solid $blueColor;
			background-color: transparent;
			opacity: 1;
		}
		.swiper-pagination-bullet-active {
			background-color: $blueColor;
		}
	}
}



.report-page {
	margin-bottom: rem(80);
	&__container {
		max-width: rem(1390);
		padding: 0 rem(15);
		margin: 0 auto;
	}


	&__body {
		max-width: rem(1264);
		margin: 0 auto;
		position: relative;
	}

	&__main {
		position: relative;
	}

	&__header__title {
		margin-bottom: math.div(55, 32) * 1em;
	}

	&__arrow {
		display: none;
		@media(min-width : $pc){
			position: absolute;
			top: 50%;
			height: rem(48);
			width: rem(48);
			border-radius: 50%;
			background-color: $blueColor;
			transform: translate(0, -50%);
			display: flex;
			justify-content: center;
			align-items: center;
			color: #fff;
			font-size: rem(20);
			z-index: 5;
			cursor: pointer;
			&_prev {
				left: rem(-8);
			}
			&_next {
				right: rem(-8);
				&::before {
					transform: rotate(180deg);
				}
			}
			&.swiper-button-disabled {
				background-color: #22c2ca74;
			}
		}
	}

	&__pagination {
		display: flex;
		justify-content: center;
		margin-top: rem(50);
		span {
			height: rem(8);
			width: rem(8);
		}
		.swiper-pagination-bullet {
			border: 1px solid $blueColor;
			background-color: transparent;
			opacity: 1;
		}
		.swiper-pagination-bullet-active {
			background-color: $blueColor;
		}
		/* &.swiper-pagination-bullet-active {

		} */
		@media(min-width : $pc){
			display: none;
		}
	}

	&__content {
	}

	&__item {
	}

	&__title {
		font-size: rem(16);
		line-height: math.div(24, 16) * 100%;
		font-weight: 500;
		margin-bottom: math.div(24, 16) * 1em;
	}

	&__text {
		font-size: rem(14);
		line-height: math.div(24, 14) * 100%;
	}
}
